.DialogueBox {
  position: absolute;
  width: 72%;
  max-width: 1000px;
  min-height: 175px;
  max-height: 240px;
  background: url(others/dialogueBar.png) top left;
  background-size: cover;
  border-radius: 0px 30px 0px 30px;
  box-shadow: 0px 0px 10px black;
  padding: 1.25%;
  color: cyan;
  font-size: 15px;
  text-align: left;
  z-index: 1000;
  top: 77%;
  right: -28.5%;
  transform: translate(-50%, -50%);
}

.ScnImg {
  position: absolute;
  margin-top: -36%;
  margin-left: 22.5%;
  width: 100%;
  max-width: 533.33px;
  max-height: 300px;
  min-height: 300px;
  border: 10px double maroon;
  box-shadow: 0px 0px 15px black;
  cursor: grab;
  overflow: hidden;
}
.ScnImg[animate_scene='1'] {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate-reverse both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2 alternate-reverse both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.ChrImg {
  position: absolute;
  margin-top: -3%;
  margin-left: -24.25%;
  width: 100%;
  max-width: 215px;
  min-height: 300px;
  max-height: 320px;
  cursor: grabbing;
  object-fit: cover;
  overflow: hidden;
  filter: drop-shadow(0px 0px 12.5px #333);
}
.ChrImg[animate_chars='1'] {
  -webkit-animation: tilt-in-fwd-bl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2 alternate-reverse both;
    animation: tilt-in-fwd-bl 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2 alternate-reverse both;
}

@-webkit-keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-bl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    transform: rotateY(-20deg) rotateX(-35deg) translate(-300px, 300px) skew(-35deg, 10deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.NameTag {
  margin: 0;
  padding: 10px;
  padding-left: 15px;
  font-size: 18px;
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #0033ff);
  border-radius: 0px 15px;
  color: whitesmoke;
  width: 50%;
  max-width: 360px;
}

.Dialogues {
  display: flex;
  justify-content: space-between;
  min-height: 25px;
  padding-bottom: 2%;
  padding-left: 1%;
  margin-top: 20px;
}

.Next {
  background-color: #00aaff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #333;
  text-align: right;
  border: 3px solid black;
  border-radius: 0px 20px;
  padding: 15px;
  max-height: 50px;
  overflow: hidden;
}

.Emojis {
  top: 130px;
  font-size: 25px;
  min-width: 525px;
  display: flex;
  justify-content: space-around;
  color: whitesmoke;
}

.Emojis[emoio='1'] {
    animation: fade-in-top 1.5s cubic-bezier(.39, .575, .565, 1.000) both;
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-150px);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

.Emojis[emoio='0'] {
    animation: fade-out-bottom 1s cubic-bezier(.25, .46, .45, .94) both
}
@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1
  }

  100% {
    transform: translateY(150px);
    opacity: 0
  }
}

.Emojis li {
  display: flex;
  padding: 10px 15px;
  height: 30px;
  align-items: center;
  cursor: grab;
  background-color: darkblue;
  box-shadow: 0px 0px 5px black;
  border-radius: 20%;
}

.Emojis li[emo='1'] {
  background-color: maroon;
  color: yellow;
}
.Emojis li[emo='0'] {
  background-color: darkblue;
  color: whitesmoke;
}

button {
  background-image: linear-gradient(to bottom left, darkblue, midnightblue);
  border: 3px thick solid black;
  border-radius: 0px 10px 0px 10px;
  padding: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  min-width: 45px;
  color: rgb(21, 255, 0);
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 1000;
}

button:hover {
  background: maroon;
  color: yellow;
}